.fl {
  float: left;
}
.fr {
  float: right;
}
.dib {
  display: inline-block;
}
.db {
  display: block;
}
.dn {
  display: none;
}
.psr {
  position: relative;
}
.psa {
  position: absolute;
}
.psf {
  position: fixed;
}
.lsn {
  list-style: none;
}
a:link {
  text-decoration: none;
}
a:visited {
  color: orangered;
}
a:hover {
  text-decoration: underline;
}
a:active {
  color: red;
}
a[href] {
  text-decoration: inherit;
}
/*inherit 有兼容问题*/
[class|="container"] {
  position: relative;
}